[submodule "wlroots"]
	path = wlroots
	url = git@github.com:luispabon/wlroots.git
[submodule "sway"]
	path = sway
	url = git@github.com:luispabon/sway.git
[submodule "json-c"]
	path = json-c
	url = git@github.com:luispabon/json-c.git
[submodule "swaylock"]
	path = swaylock
	url = git@github.com:luispabon/swaylock.git
[submodule "swayidle"]
	path = swayidle
	url = git@github.com:luispabon/swayidle.git
[submodule "swaybg"]
	path = swaybg
	url = git@github.com:luispabon/swaybg.git
[submodule "xdg-desktop-portal-wlr"]
	path = xdg-desktop-portal-wlr
	url = git@github.com:luispabon/xdg-desktop-portal-wlr.git
[submodule "kanshi"]
	path = kanshi
	url = git@github.com:luispabon/kanshi.git
[submodule "Waybar"]
	path = Waybar
	url = git@github.com:luispabon/Waybar.git
