[submodule "wlroots"]
	path = wlroots
	url = git@github.com:swaywm/wlroots.git
[submodule "sway"]
	path = sway
	url = git@github.com:swaywm/sway.git
[submodule "json-c"]
	path = json-c
	url = git@github.com:json-c/json-c.git
[submodule "swaylock"]
	path = swaylock
	url = git@github.com:swaywm/swaylock.git
