[submodule "wlroots"]
	path = wlroots
	url = git@github.com:luispabon/wlroots.git
[submodule "sway"]
	path = sway
	url = git@github.com:luispabon/sway.git
[submodule "swaylock"]
	path = swaylock
	url = git@github.com:luispabon/swaylock.git
[submodule "xdg-desktop-portal-wlr"]
	path = xdg-desktop-portal-wlr
	url = git@github.com:luispabon/xdg-desktop-portal-wlr.git
[submodule "kanshi"]
	path = kanshi
	url = git@github.com:luispabon/kanshi.git
[submodule "Waybar"]
	path = Waybar
	url = git@github.com:luispabon/Waybar.git
[submodule "mako"]
	path = mako
	url = git@github.com:luispabon/mako.git
[submodule "clipman"]
	path = clipman
	url = git@github.com:yory8/clipman.git
[submodule "wldash"]
	path = wldash
	url = git@github.com:kennylevinsen/wldash.git
[submodule "wayfire"]
	path = wayfire
	url = git@github.com:luispabon/wayfire.git
[submodule "wf-config"]
	path = wf-config
	url = git@github.com:luispabon/wf-config.git
[submodule "wf-shell"]
	path = wf-shell
	url = git@github.com:luispabon/wf-shell.git
[submodule "wcm"]
	path = wcm
	url = git@github.com:luispabon/wcm.git
[submodule "carbonshell"]
	path = carbonshell
	url = git@bitbucket.org:carbonOS/carbonshell.git
[submodule "wf-recorder"]
	path = wf-recorder
	url = git@github.com:ammen99/wf-recorder.git
